$main-color: #111111;
$secundary-color: midnightblue;
$hover-color:rgb(11, 11, 42);
$text-color: whitesmoke;
$border: 2px solid #606060;
$border-radius: 50px;
$glass-bg:rgba(0, 0, 0, 0.35);
$glass-bg-2:rgba(255, 255, 255, 0.2);
$glass-blur:12px;
$card-color:#242424;